[Unit]
Description=N.E.E.B.L.E.S. External Envelope Socket

[Socket]
ListenSequentialPacket=/run/neebles/external.sock
SocketMode=0600
RemoveOnStop=yes
Service=neebles-external.service

[Install]
WantedBy=sockets.target
