[Unit]
Description=N.E.E.B.L.E.S. Stage0 Preflight
Wants=neebles-external.socket
After=local-fs.target neebles-external.socket

[Service]
Type=oneshot
ExecStart=/opt/neebles/client/backend/neebles-backend stage0 run
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
